<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="<%= root_path %>">Coder Messenger</a>

  <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
    <ul class="navbar-nav text-right">
      <% if current_user %>
          <li class="nav-item">
            <%= link_to "Welcome! #{current_user}", edit_user_path(current_user.id), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Inbox", received_messages_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Sent", sent_messages_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Compose", new_message_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", log_out_path, method: 'delete', class: 'nav-link',data: {confirm: 'Are you sure?'} %>
          </li>

      <% end %>
    </ul>
  </div>
</nav>